*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
/* banner css */
.hero__section{
    background-image: url(./images/heroSectionBackground.png);
    height: 50%;
    min-height: 50%;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 45px;
    height: 60px;
}
nav a{
    color: white;
    text-decoration: none;
}
.navbar__menu_container{
    display: flex;
    gap: 1rem;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}
.hero__section_container{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 32px;
    height: calc(60vh, 60px);
}
.hero_section_logo{
    width: 250px;
    margin: 10px;
}
.hero_section_title{
    color: white;
    align-items: center;
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 3rem;
}
.hero__section_input_container{
    display: flex;
    background-color: white;
    width: 50%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    place-items: center;
}
.input_container_search,.input_container_location{
    padding: 6px;
    border: none;
    outline: none;
}
.input_container_location{
    border-right: 2px solid gray;
    width: 35%;
}
.input_container_search{
    width: 65%;

}

/* we offer section css */
.container__we_offer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    margin: 3rem auto;
}
.we__offer_card{
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    border: 1px solid rgb(232, 232, 232);
    /* Animations   */
    transition: all 0.4s ease;
}
.we__offer_card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}
.we__offer_card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.we__offer_content{
    padding: 10px;
}

.we__offer_content h2 {
    font-size: 20px;
    font-weight: 400;
}

.we__offer_content p {
    font-size: 12px;

}

/* collection section */
.collections{
    width: 90%;
    margin: auto;
}
.collections h1{
    font-size: 36px;
    font-weight: 400;
}
.sub__heading_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: gray;
    gap: 1rem;

}
.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}
.collections_card_container{
    display: flex;
    gap: 0.5rem;
    place-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.card{
    align-items: flex-end;
    min-width: 240px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;

}
.card1{
    background-image: url(./images/collection1.jpg);
}
.card2{
    background-image: url(./images/collection2.jpg);
}
.card3{
    background-image: url(./images/collection3.jpg);
}
.card4{
    background-image: url(./images/collection4.jpg);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0, 0 ,0, 0.8) 0%,
        rgba(0, 0 ,0, 0.05) 50%,
        rgba(0, 0 ,0, 0.05) 85%
        /* rgba(0, 0, 0, 0)100% */

    );
    z-index: 5;
}
.content{
    color: white;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 16px;
    font-size: 0.8rem;
    z-index: 10;

}
.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* get__the_app */
.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    /* background-color: aqua; */
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semiContainer .left{
    flex: 2;
}

.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.get__the_app .semiContainer .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get__the_app .semiContainer .right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.semiContainer .right .radio__button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.semiContainer .right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}

.semiContainer .right .input_container{
    display: flex;
    gap: 0.5rem;
}

.input_container{
    flex-wrap: wrap;
}

.input_container button, .input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239,79,95);
    color:  white;
    border-radius: 5px;
    cursor: pointer;
}

/* button:hover{
    cursor: pointer;
} */

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.download__app_container h5{
    font-size: 400;
    color: gray;
}

.download__app_container div{
    display: flex;
    gap: 1rem;
}

.download__app_container div img{
    width: 35%;
}


@media only screen and (max-width: 1300px) {
    .get__the_app .semiContainer .left, .get__the_app .semiContainer .right{
        flex: 1;
    }
    .get__the_app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .get__the_app {
      padding: 2rem;
    }
    .get__the_app .semiContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .get__the_app {
      padding: 3rem;
    }
    .get__the_app .semiContainer{
        width: 80%;
        flex-direction: column;
    }
}

/* footer section */

.footer{
    width: 100%;
}
.footer_section1{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer_section1 img{
    width:120px;
}
.section1__buttonContainer{
    display: flex;
    gap: 1.5rem;
}
.section1__buttonContainer button{
    width: 100px;
    height: 35px;
    padding: 5px;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: gray solid 1px;
    background-color: transparent;
}

/* link section grid */
.navigation_container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(5, 1fr);;
    gap: 1rem;
    padding: 3rem 0;    
}
.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.link__container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}
.footer__link{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}
.footer__link:hover{
    color: black;
}
.social__links_container button{
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.social__links_container button i{
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__section_logos{
    width: 100%;
}
.disclamer{
    width: 90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}

@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 600px){
    .navigation_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 300px){
    .navigation_container{
        grid-template-columns: repeat(1, 1fr);
    }
}